<h1 [class]="titleClass">{{title}}</h1>
<h1 [class.blue-title]="blueTitle">blue-title</h1>
<h1 [ngClass]="titleClasses">ngClass</h1>
<h2 [style.color]="titleStyle">style.color</h2>
<h2 [style.color]="titleStyleCondition ? 'green' : 'pink'">style.color condicional</h2>
<h2 [ngStyle]="titleStyles">[ngStyle]</h2>
<p>{{ myObject.gender}}</p>
<ul>
  <li *ngFor="let datos of myArr">{{ datos }}</li>
</ul>
<div *ngIf="myObject"> {{myObject.location}}</div>
<div *ngIf="myBoolean; then tmpl1 else tmpl2"></div>
<img alt='Logo1' src="{{angularLogo}}"/>
<img alt='Logo2' [src]="angularLogo"/>
<img alt='Logo3' bind-src="angularLogo"/>
<app-my-new-component></app-my-new-component>
<ng-template #tmpl1>Verdad Verdadera</ng-template>
<ng-template #tmpl2>NOP</ng-template>
<button [disabled]="buttonStatus">Click me!</button>
<button (click)="myEvent($event)">Event</button>

<p>{{someProperty}}</p>

